{% extends "base.html" %}

{% block page_title %}Excluir empresa{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Confirmar exclusão</h3>
    </div>
    <div class="card-body">
        <p>Tem certeza que deseja excluir a empresa:</p>
        <p><strong>{{ empresa.nome }}</strong></p>

        <form method="post">
            {% csrf_token %}
            <button class="btn btn-danger">Sim, excluir</button>
            <a href="{% url 'empresa_lista' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
